@font-face {
    src: url('./fonts/Gotham-Black.otf');
    font-family: 'gotham-black';    
    font-weight: normal;
    font-style: normal;
}

@font-face {
    src: url('./fonts/Gotham-Medium.otf');
    font-family: 'gotham-medium';    
    font-weight: normal;
    font-style: normal;
}

@font-face {
    src: url('./fonts/Gotham-ex-light.otf');
    font-family: 'gotham-ex-light';    
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body {
    background-color: #f8f9fa;
    color: #333;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: white;
    padding: 15px 20px;
}
header #box-header-buttons{
    margin-right: 15vw;
}
header #box-header-buttons button{
    margin-left: 3vw;
    font-family: 'gotham-medium';
}
header .fa-paper-plane{
    margin-right: 0.5vw;
}
.btn-enviar, .btn-enviar2, .btn-user {
    background: #275CAA;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 6px;
}
.btn-enviar2{
    display: none;
}
.btn-enviar:hover, .btn-user:hover {
    background: #03BFD7;
}
.logo img{
    width: 250px;
    margin-left: 15vw;
}
.hero {
    background: linear-gradient(to right, #0014428c,#00144270, #00000000), url('./imgs/saladeaula_bg.svg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    position: relative;
}
.hero i {
    margin-right: 10px;
}
.hero .overlay {
    border-radius: 10px;
    margin-left: 15vw;
    width: 100%;
}
.hero img{
    margin-right: 15vw;
}
h1{
    font-family: 'gotham-black';
}
p{
    font-family: 'gotham-medium';
}
.hero h1 {
    font-size: 64px;
    margin-bottom: 40px;
    text-align: start;
}
.cta {
    font-family: 'gotham-medium';
    background: transparent;
    color: #ffffff;
    padding: 12px 25px 12px 20px;
    font-size: 18px;
    font-weight: bold;
    border: 3px solid #ffffff;
    border-radius: 8px;
    cursor: pointer;
}
.cta:hover {
    background: #ffffff;
    color: #001442;
}
.imagem-umj{
    overflow: hidden;
    width: 30vw;
    height: 38vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagem-umj img{
    width: 100%;
}
.sobre {
    display: flex;
    align-items: center;
    margin-left: 15vw;
    margin-right: 15vw;
    gap: 40px;
    padding: 60px 0px;
}
.sobre .texto {
    width: 60%;
}
.sobre .texto h1 {
    margin-bottom: 20px;
    font-size: 36px;
    color: #0A4E94;
}
.sobre .texto p {
    font-size: 16px;
    color: #001442;
}
.envio {
    background: linear-gradient(90deg, #275CAA, #1CBED7);
    color: white;
    display: flex;
    align-items: center;
    padding: 40px 0px;
    gap: 10vw;
}
.envio .box {
    background: white;
    color: #222;
    padding: 30px 30px 30px 40px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.envio a {
    text-decoration: none;
    color: #03BFD7;
    font-family: 'gotham-medium';
    font-size: 18px;
}
.box-txt2{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 15vw;
}
.box-txt2 h1{
    font-size: 36px;
}
.box-txt2 p{
    font-size: 16px;
}
.box i{
    display: flex;
    flex-direction: column;
    font-size: 50px;
    margin-bottom: 20px;
}
.box{
    width: 30vw; 
}
.edicoes {
    display: flex;
    margin-left: 15vw;
    margin-right: 15vw;
    gap: 50px;
}
.box-edicoes {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 60px;
}
.box-edicoes img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}
.edicoes .box-txt{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    gap: 10px;
}
.edicoes h1{
    font-size: 36px ;
    color: #0A4E94;
}
.edicoes p{
    font-size: 16px;
    color: #001442;
}