@font-face {
    src: url('./fonts/Gotham-Black.otf');
    font-family: 'gotham-black';    
    font-weight: normal;
    font-style: normal;
}

@font-face {
    src: url('./fonts/Gotham-Medium.otf');
    font-family: 'gotham-medium';    
    font-weight: normal;
    font-style: normal;
}

@font-face {
    src: url('./fonts/Gotham-ex-light.otf');
    font-family: 'gotham-ex-light';    
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body {
    background-color: #f8f9fa;
    color: #333;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: white;
    padding: 15px 20px;
}
header #box-header-buttons{
    margin-right: 15vw;
}
header #box-header-buttons button{
    margin-left: 3vw;
    font-family: 'gotham-medium';
}
header .fa-paper-plane{
    margin-right: 0.5vw;
}
.btn-enviar, .btn-enviar2, .btn-user {
    background: #275CAA;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 6px;
}
.btn-enviar2{
    display: none;
}
.btn-enviar:hover, .btn-user:hover {
    background: #03BFD7;
}
.logo img{
    width: 250px;
    margin-left: 15vw;
}
.hero {
    background: linear-gradient(to right, #0014428c,#00144270, #00000000), url('./imgs/saladeaula_bg.svg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    position: relative;
}
.hero i {
    margin-right: 10px;
}
.hero .overlay {
    border-radius: 10px;
    margin-left: 15vw;
    width: 100%;
}
.hero img{
    margin-right: 15vw;
}
h1{
    font-family: 'gotham-black';
}
p{
    font-family: 'gotham-medium';
}
.hero h1 {
    font-size: 64px;
    margin-bottom: 40px;
    text-align: start;
}
.cta {
    font-family: 'gotham-medium';
    background: transparent;
    color: #ffffff;
    padding: 12px 25px 12px 20px;
    font-size: 18px;
    font-weight: bold;
    border: 3px solid #ffffff;
    border-radius: 8px;
    cursor: pointer;
}
.cta:hover {
    background: #ffffff;
    color: #001442;
}
.imagem-umj{
    overflow: hidden;
    width: 600px;
    height: 360px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagem-umj img{
    width: 100%;
    border-radius: 10px;
}
.sobre {
    display: flex;
    align-items: center;
    margin-left: 15vw;
    margin-right: 15vw;
    gap: 40px;
    padding: 60px 0px;
}
.sobre .texto {
    width: 60%;
}
.sobre .texto h1 {
    margin-bottom: 20px;
    font-size: 36px;
    color: #0A4E94;
}
.sobre .texto p {
    font-size: 16px;
    color: #001442;
}
.envio {
    background: linear-gradient(90deg, #275CAA, #1CBED7);
    color: white;
    display: flex;
    align-items: center;
    padding: 40px 0px;
    gap: 10vw;
}
.envio .box {
    background: white;
    color: #222;
    padding: 30px 30px 30px 40px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.envio a {
    text-decoration: none;
    color: #03BFD7;
    font-family: 'gotham-medium';
    font-size: 18px;
}
.box-txt2{
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 15vw;
    gap: 20px;
}
.box-txt2 h1{
    font-size: 36px;
}
.box-txt2 p{
    font-size: 16px;
}
.box i{
    display: flex;
    flex-direction: column;
    font-size: 50px;
    margin-bottom: 20px;
}
.box{
    width: 30vw; 
    margin-right: 15vw;
}
.edicoes {
    display: flex;
    margin-left: 15vw;
    margin-right: 15vw;
    gap: 50px;
}
.box-edicoes {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 60px;
}
.box-edicoes img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}
.edicoes .box-txt{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    gap: 10px;
}
.edicoes h1{
    font-size: 36px ;
    color: #0A4E94;
}
.edicoes p{
    font-size: 16px;
    color: #001442;
}
@media (min-width: 2000px){
    header{
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .hero img{
        margin-right: 25vw;
    }
    .hero .overlay {
        margin-left: 25vw;
    }
    .sobre {
        margin-left: 25vw;
        margin-right: 25vw;
    }
    .box-txt2{
        margin-left: 25vw;
    }
    .box{
        margin-right: 25vw;
    }
    .edicoes {
       
        margin-left: 25vw;
        margin-right: 25vw;
        gap: 200px;
    }
}
@media (max-width:1354px){
    .hero .overlay h1 {
        font-size: 40px;
    }
    .hero img{
        width: 35%;
    }
}
@media (max-width:1024px){
    .logo img{
        width: 200px;
    }
    header .fa-paper-plane{
        margin-right: 0vw;
    }
    .btn-enviar2{
        display:initial;
    }
    .btn-enviar{
        display:none;
    }
    .sobre {
        flex-direction: column;
    }
    .sobre .texto {
        text-align: center;
        width: 100%;
    }
}
@media (max-width:884px){
    .hero{
        height: 100vh;
    }
    .hero .overlay{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .hero .overlay h1{
        font-size: 26px;
        text-align: center;
        margin: 40px;
    }
    .hero img{
        display: none;
    }
    .imagem-umj{
        width: 360px;
        height: 220px;
    }
    .imagem-umj img{
        width: 100%;
        border-radius: 6px;
    }
    .sobre {
        margin: 0;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .sobre .texto h1{
        font-size: 26px;
        width: 100%;
    }
    .sobre .texto p{
        font-size: 14px;
        width: 100%;
    }
    header #box-header-buttons{
        margin-right: 10vw;
    }
    .envio{
        flex-direction: column;
        margin: 0;
        gap: 30px;
    }
    .envio .box{
        width: 90%;
        padding: 20px 30px 20px 30px;
        margin: 0;
    }
    .envio .box a{
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        font-size: 14px;
    }
    .envio .box i{
        font-size: 40px;
        margin: 0;
    }
    .envio .box-txt2{
        text-align: center;
        margin: 0;
        width: 90%;
        gap: 10px;
    }
    .envio .box-txt2 h1{
        font-size: 26px;
    }
    .envio .box-txt2 p{
        font-size: 14px;
    }
    .edicoes{
        gap: 30px;
        margin: 0vw 10vw 0vw 10vw;
        flex-direction: column;
    }
    .edicoes .box-edicoes {
        margin: 0px 0px 50px 0px;
    }
    .edicoes .box-txt {
        text-align: center;
        order: -1;
    }
    .edicoes .box-txt br {
        display: none;
    }
    .edicoes .box-txt h1{
        font-size: 26px;
    }
    .edicoes .box-txt p{
        font-size: 14px;
    }
}
@media (max-width:500px){
    .logo img{
        width: 150px;
        margin-left: 0;
    }
    header #box-header-buttons{
        margin-right: 0;
    }
}
@media (max-width:380px){
    .imagem-umj{
        width: 300px;
        height: 180px;
    }
    .imagem-umj img{
        width: 100%;
        border-radius: 4px;
    }  
    .sobre {
        margin: 0;
        margin-left: 5vw;
        margin-right: 5vw;
    }
}